* {
}
body {
    color: white;
    background-color: aqua;
}
h1 {
    background-image: linear-gradient(rgb(255, 140, 0), rgb(4, 88, 124));
    background-repeat: no-repeat;
    color: white;
    border-style: groove hotpink 25px;
}